DesignPatterns.Tests/obj/project.packagespec.json
DesignPatterns.Tests/obj/project.assets.json
DesignPatterns.Tests/obj/DesignPatterns.Tests.csproj.nuget.g.targets
DesignPatterns.Tests/obj/DesignPatterns.Tests.csproj.nuget.g.props
DesignPatterns.Tests/obj/Debug/netcoreapp2.2/DesignPatterns.Tests.Program.cs
DesignPatterns.Tests/obj/Debug/netcoreapp2.2/DesignPatterns.Tests.AssemblyInfo.cs
DesignPatterns.Strategy/obj/project.packagespec.json
DesignPatterns.Strategy/obj/project.assets.json
DesignPatterns.Strategy/obj/DesignPatterns.Strategy.csproj.nuget.g.targets
DesignPatterns.Strategy/obj/DesignPatterns.Strategy.csproj.nuget.g.props
DesignPatterns.Strategy/obj/Debug/netstandard2.0/DesignPatterns.Strategy.AssemblyInfo.cs
DesignPatterns.Singleton/obj/project.packagespec.json
DesignPatterns.Singleton/obj/project.assets.json
DesignPatterns.Singleton/obj/DesignPatterns.Singleton.csproj.nuget.g.targets
DesignPatterns.Singleton/obj/DesignPatterns.Singleton.csproj.nuget.g.props
DesignPatterns.Singleton/obj/Debug/netstandard2.0/DesignPatterns.Singleton.AssemblyInfo.cs
DesignPatterns.Decorator/obj/project.packagespec.json
DesignPatterns.Decorator/obj/project.assets.json
DesignPatterns.Decorator/obj/DesignPatterns.Decorator.csproj.nuget.g.targets
DesignPatterns.Decorator/obj/DesignPatterns.Decorator.csproj.nuget.g.props
DesignPatterns.Decorator/obj/Debug/netstandard2.0/DesignPatterns.Decorator.AssemblyInfo.cs
DesignPatterns.Common/obj/project.packagespec.json
DesignPatterns.Common/obj/project.assets.json
DesignPatterns.Common/obj/DesignPatterns.Common.csproj.nuget.g.targets
DesignPatterns.Common/obj/DesignPatterns.Common.csproj.nuget.g.props
DesignPatterns.Common/obj/Debug/netstandard2.0/DesignPatterns.Common.AssemblyInfo.cs
DesignPatterns.AbstractFabric/obj/project.packagespec.json
DesignPatterns.AbstractFabric/obj/project.assets.json
DesignPatterns.AbstractFabric/obj/DesignPatterns.AbstractFabric.csproj.nuget.g.targets
DesignPatterns.AbstractFabric/obj/DesignPatterns.AbstractFabric.csproj.nuget.g.props
DesignPatterns.AbstractFabric/obj/Debug/netstandard2.0/DesignPatterns.AbstractFabric.AssemblyInfo.cs
DesignPattern.Proxy/obj/project.packagespec.json
DesignPattern.Proxy/obj/project.assets.json
DesignPattern.Proxy/obj/DesignPattern.Proxy.csproj.nuget.g.targets
DesignPattern.Proxy/obj/DesignPattern.Proxy.csproj.nuget.g.props
DesignPattern.Proxy/obj/Debug/netcoreapp2.2/DesignPattern.Proxy.AssemblyInfo.cs
.idea/.idea.DesignPatterns/riderModule.iml
.idea/.idea.DesignPatterns/.idea/workspace.xml
.idea/.idea.DesignPatterns/.idea/vcs.xml
.idea/.idea.DesignPatterns/.idea/modules.xml
.idea/.idea.DesignPatterns/.idea/indexLayout.xml
.idea/.idea.DesignPatterns/.idea/contentModel.xml
