DesignPatterns.Tests/obj/
DesignPatterns.Strategy/obj/
DesignPatterns.Singleton/obj/
DesignPatterns.Decorator/obj/
DesignPatterns.Common/obj/
DesignPatterns.AbstractFabric/obj/
DesignPattern.Proxy/obj/
.idea/
DesignPatterns.Tests/bin/
DesignPatterns.Strategy/bin/
DesignPatterns.Singleton/bin/
DesignPatterns.Decorator/bin/
DesignPatterns.Common/bin/
DesignPatterns.AbstractFabric/bin/
DesignPattern.Proxy/bin/
